.rowlogin {
margin: 100px auto;
width: 350px;
text-align: center;
}
.loginer {
background-color: #fff;
padding: 20px;
margin-top: 20px;
}
.form-pass {
font-family: 'Arial', 'Oxygen Mono', 'sans-serif';
font-size: 17px;
color: #333;
width: 270px;
padding: 3px 4px;
text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
border-radius: 0px;
border: none;
border-bottom: 2px solid #ccc;
}
.form-user {
font-family: 'Arial', 'Oxygen Mono', 'sans-serif';
font-size: 17px;
color: #333;
width: 310px;
padding: 3px 4px;
text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
border-radius: 0px;
border: none;
border-bottom: 2px solid #ccc;
}
.butn {
color: #fff;
width: 200px;
background-color: #0099FF;
padding: 6px 12px;
margin-bottom: 0px;
font-size: 17px;
font-family: 'Arial', 'Oxygen Mono', 'sans-serif';
font-weight: 500;
line-height: 1.42857;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border: 1px solid #ccc;
}
.butn:hover {
background-color: #007bff;
color: #eee;
border: 1px solid #eee;
}
.buttn {
color: #4285f4;
height: 32px;
width: 40px;
font-family: 'Arial', 'Oxygen Mono', 'sans-serif';
background-color: #fff;
padding: 6px 12px;
margin-bottom: 0px;
font-size: 15px;
text-align: center;
vertical-align: middle;
border: none;
}

.form:focus{
border-bottom: 2.4px solid #0099ff;
}

div.bwh{
position: fixed;
background: #fbfbfb;
bottom: 0;
}

.eff{
transition: 0.5s ease all;
}

@media only screen and (max-width: 320px) {
.vtext{
font-size: 4vmin;
}
.opning{
font-size: 4vmin;
}
}

@media only screen and (max-width: 480px) {
div.bwh{
font-size: 3vmin;
position: sticky;
bottom: 0;
border: 1.4px; 
}
}